#topBanner
   left
      h3 
         span.bold Lionel Michel 
          ⇾ 
         span.slogan Making sense of human and technological infrastructures
      
   right
      ul#menu
         li
            a(href='http://www.nichts.com') Projects
         li
            a(href='http://www.nichts.com') About me