#topBanner
   left
      h3 
         span.bold Lionel Michel 
         span.slogan ⇾ <i>Making sense of human and technological infrastructures</i>
      
   right
      ul#menu
         li
            a(href='http://www.nichts.com') Projects
         li
            a(href='http://www.nichts.com') About me