extends layout

block content
   #container

      #topBanner
         left
            h3 bla
         right
            h3 bli


      #metaNav
         left
            h4 My Simple Blog

         right
            h4 right dd

      #projects
            for post in site.posts
               .project
                  a(href=post._url)
                     .pad15
                        h1= post.title
                        h2= post.subtitle
                     //- div(class='bgImg-'+post.id)
                     




