extends layout

block content
   
   include _utility

   #bluestrip

   #greyContainer

      include _topnav


      #hello
         left
            h3
               span.status Hello, I am Berlin-based UX Designer opened for cooperations (full-time or freelance).

      #metaNav
            h3.vSpace
               span.status – Selected projects

         //- right
         //-    h3= site.posts.length

      #projects

         //- p= JSON.stringify(site)
         //- p= JSON.stringify(site.posts[0].year)

         for post in site.posts
            .project
               a(href=post._url)
                  .box(class='bgImg-'+post.id)
                     .veil
                     h1= post.title
                     h2= post.subtitle
                        if post.moreinfo
                           span.moreInfo= ' — '+post.moreinfo 
