extends layout

block content
   #container

      #topBanner
         left
            h3 bla
         right
            h3 bli


      #metaNav
         left
            h4 My Simple Blog

         right
            h4 right dd

      #projects
            for post in site.posts
               //- div(class=post.bgImg)
               div(class='bgImg-helen')
                  h1
                     a(href=post._url)= post.title
                  h2
                     a(href=post._url)= post.subtitle

