@import '_settings'
@import 'jeet'

normalize-css()
base()
// edit(red)

threshold = 640px

bgcolor = #ECECEC
greyDark = #424242
greyMedium = #767676
greyLight = #9E9E9E
blueDark = #488FC7

projectBoxHeight = 250px

body
   background: bgcolor
   font-family: fira
   
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   
   #container
      padding-top: 25px
      
      center(960px)
      
      h3
         font-size: 1rem
         font-weight:500
         color: greyDark
         line-height: 0.5rem;
         // margin: 0px
         // padding:0px

         .slogan
            font-weight:400
            font-style:italic
         
         .status
            font-weight:400
            color: greyMedium
         
         .blue
            font-weight:400
            color: blueDark
            
      ul
         reset-list()
         inline-list: 25 px
         line-height: 2.5rem;
         float:right
         font-weight:400
         color: blueDark
      
         a
            color: greyDark
            text-decoration:none
            transition: color 0.25s ease-in-out;
         
         a:hover
            color: blueDark
            
      #topBanner
         display:block
         margin-bottom: 130px

         left
            col(9/12)
         right
            col(3/12)
         
            
      #metaNav
         left
            col(9/12)      
         right
            col(3/12)
      
      #projects
            .project
               col(1/2, cycle:2)
               height: projectBoxHeight
               margin-bottom: 20px
               
               a
                  text-decoration:none
                           
                  .box
                     opacity: 1;
                     cursor: auto;
                     display: block;
                     height: projectBoxHeight
                  
                     .veil
                        // background-color:green
                        opacity:0
                        width: 466px
                        height:projectBoxHeight
                        position:absolute
                        z-index:0
                        transition: all 0.25s ease-in-out;

                     h1
                        font-size: 1.125 rem
                        font-weight: 500
                        margin:0
                        padding:0
                        color: greyDark
                        position:relative
                        z-index: 10
                        padding-left:15px
                        padding-top:15px
                        transition: all 0.25s ease-in-out;
                        
                     h2
                        font-size: 0.875 rem
                        font-weight: 400
                        font-style: italic
                        margin:0
                        padding:0
                        color: greyMedium
                        position:relative
                        z-index: 10
                        padding-left:15px
                        transition: all 0.25s ease-in-out;
                        
                        .moreInfo
                           color:greyLight
                        
               a:hover
                  
                  .box
                     
                     .veil
                        opacity:0.9
                        background-color:greyDark
                     
                     h1, h2
                        color: greyLight
                     
   .bgImg-helen
      bg: '/img/street-cut.jpg'
      
   .bgImg-knowledge
      bg: '/img/street.jpg'

   .bgImg-geolinguistic
      bg: '/img/street.jpg'
              
   .bgImg-urbanweave
      bg: '/img/street.jpg' 