@import '_settings'
@import 'jeet'

normalize-css()
base()
// edit(grey)

threshold = 640px

bgcolor = #ECECEC
greyDark = #424242
greyMedium = #767676
greyLight = #D2D2D2

projectBoxHeight = 250px

body
	background: bgcolor
	font-family: fira
	

	#container
		
		center(960px)
		
		#topBanner
			left
				col(9/12)
			right
				col(3/12)
				
		#metaNav
			left
				col(9/12)		
			right
				col(3/12)
		
		#projects
				.project
					col(1/2, cycle:2)
					height: projectBoxHeight
					margin-bottom: 20px
					
					a
						text-decoration:none
						
									
						.bgImg
							background-image: url('/img/street-cut.jpg')
							cursor: auto;
							display: block;
							height: projectBoxHeight - 30px
							padding:15px

							h1
								font-size: 1.125 rem
								font-weight: 500
								margin:0
								padding:0
								color: greyDark		
								
							h2
								font-size: 0.875 rem
								font-weight: 400
								font-style: italic
								margin:0
								padding:0
								color: greyMedium

