---
title: 'Helen, the library network'
subtitle: 'When the libraries embrace the social networks'
//- coauthor: 'Jeff'
moreinfo: 'B.A. Thesis'
year: '2013'
id: 'helen'

process: [
	'Theoretical analysis',
	'Market analysis',
	'Use cases', 
	'Information architecture',
	'Wireframes', 
	'iPad screen design'
]

supervisionFH: 'Prof. Dr. Frank Heidmann and Prof. Matthias Krohn'

press: [
	['Alexander von Humboldt Institut für Internet und Gesellschaft','http://www.hiig.de'],
	['Image Knowledge Gestaltung. An Interdisciplinary Laboratory','https://www.interdisciplinary-laboratory.hu-berlin.de/']
]

more: [
    ['Concept','concept'],
    ['iPad app features','final']
]

_content: false
---

extends ../views/_single

block description

  p #[span(class='inlineTitle') Initial situation] — In the age of Google, Wikipedia and ebooks, public libraries can’t define themselves anymore as a space only dedicated to the exchange of books. They are in the urge to find a new role online that complements their physical presence.

  p #[span(class='inlineTitle') Approach] — In my bachelor thesis, I’ve investigated a way to turn the classical digital catalog into a digital network that could offer a social reading experience while retaining its classical functionalities. 

  p #[span(class='inlineTitle') Result] — The result of this process is a design concept based around the idea that if the library is to be seen as a network, ebooks are its nodes. In this context, those are linked together through authors’ citations, users’ highlights or recommendations and also allow connections with external websites.



block additionalContent

  .rubric
    
    a.anchor(id='concept')
    h2 Concept

    .contentBox
      .single
        h4 A node-based ebook entry representation
        p Each book entry is represented in the catalog through a diagram summing up the quantities of its incoming and outcoming connections. Available in two perspectives, it visualizes alternatively the amount of users’ interactions (yellow) or the amount of authors’ citations (blue). Depending on the perspective, further related pieces of information could be also displayed.

    .contentBox.vSpace
      img.descripSVG(src= '/img/helen/entry.svg') 

    .contentBox
      .single
        
        h4 Letting the users collect, annotate and connect ebooks together
        p Helen enables the user to highlight text sections and to link those together in order to facilitate the connection of ideas and support the creation of personal knowledge (similar to the Memex). Linked highlights may be publically or privatly shared. 
      
    .contentBox.vSpace
      img.descripSVG(src= '/img/helen/diagramm-social.svg') 

    .contentBox
      .single
        h4 Harvesting citations
        p Helen takes over authors’ footnotes and citations in order to transform them into navigable links to ebooks and web pages. Although not directly reachable, physical books are also meant to be taken in account.  

    .contentBox.vSpace
        img.descripSVG(src= '/img/helen/diagramm-citation.svg') 


  .rubric

    a.anchor(id='final')
    h2 iPad app features

    .contentBox
      .single
   
        h4.borderRight A facet navigation augmented with information visualizations
        p.borderRight In contrary to conventional library digital catalogs, the user is able to quicky and visually asset the proportions and the quantities within each facet. 
    
    .contentBox.vSpace
        +picturefill_3 ('/img/'+ post.id +'/facet', '768', 'bla')

    .contentBox
      .single
   
        h4.borderRight Incoming and outcoming links
        p.borderRight By sorting search results by the number of incoming and outcoming links, the user is able to discover either which ebook is the most cited or which ebook is mostly forwarding to further contents.  
    
    .contentBox.vSpace
        +picturefill_3 ('/img/'+ post.id +'/inout', '768', 'bla')

    .contentBox
      .single
   
        h4.borderRight Exploring the diversity of the linked contents
        p.borderRight Chapter by chapter, the user is invited to explore the linked contents and the highlights from which they start . Beyond ebooks, any web-based artifact may be linked to. 
    
    .contentBox.vSpace
        +picturefill_3 ('/img/'+ post.id +'/link-diversity', '768', 'bla')


    //- .contentBox
    //-   left
    //-     h4 Saving
    //-     p Ebooks and their highlights as well as any linked elements can be saved in “stacks”. 
    
    //-   right
    //-       +picturefill_3 ('/img/'+ post.id +'/saving', '768', 'bla')



    .contentBox
      .single
   
        h4.borderRight Saving
        p.borderRight Ebooks and their highlights as well as any linked elements can be saved in “stacks”. 
    
    .contentBox.vSpace
        +picturefill_3 ('/img/'+ post.id +'/saving', '768', 'bla')





  






block presentation
    
   h1#concept Concept in details

   - var values = ['caramel.jpeg','cheesecake.jpeg','donuts.jpeg','lemon.jpeg'];
   
   .flexslider
   
      ul.slides
         each val in values.length ? values : ['No picture available']
            li
               img(src="/img/slider/"+val)

block details

   h1#concept Concept in details 

   p <strong>Each language version of a Wikipedia article is a map on its own</strong><br/>As articles are  rarely able to cover a topic without refering to further articles, vast amounts of geographical networks (or maps) arise on wikipedia when articles are augmented with GPS coordinates.

   
