---
title: 'Gigstarter'
subtitle: 'Want to go to a gig with your friends, but don’t like to wait endlessly for them to confirm, or paying for the whole group and chasing the money later?'
year: '2013'
id: 'gigstarter'

process: [
	'Market analysis',
	'Personas',
	'User scenarios', 
	'Sketching',
	'Paper prototyping', 
	'Wireframes',
  'Max OS X screen design',
  'Flash & Video prototyping'
]

more: [
    ['Social visibility','social'],
    ['Use scenario','scenario'],
]


shiftTopImg: true

_content: false
---

extends ../views/_single


block coauthorship

  p.noMargin In collaboration with <a href='http://julianstahnke.com' target='_blank'>Julian Stahnke</a>

block supervision

  p.noMargin –<br/>Supervised by Prof. Boris Müller and Dorit Mielke at the<a href='http://www.fh-potsdam.de' target='blank'> University of Applied Sciences Potsdam, Germany</a> and in collaboration with <a href='http://www.here.com' target='_blank'>Nokia HERE</a>


block description

  p #[span(class='inlineTitle') Initial situation]<br/> Within the frame of collaboration with Nokia HERE, we have been invited to think of how we could improve micro-coordination within small groups of people with the creation of new services. There was a focus on the Windows Mobile platform as it used to be Nokia smartphones' OS.

  p #[span(class='inlineTitle') Approach]<br/>After an input phase including an introduction in the user resarch methodes used at Nokia, we first looked for opportunities by using user journeys, generating ideas and narratives.Later, we developed a service and designed a dedicated app.  

  p #[span(class='inlineTitle') Result]<br/> We created a service inspired by the crowdfounding plarform Kickstarter that would enable small groups of people to commit and buy tickets together without one single person being forced to take over the financial responsibility for the whole group. Depending on the intention of the initiator(s) and the type of event envisioned, the outing may be opened to other people following different social logics.

block additionalContent

  .rubric.spacePadTop-2
    
    a.anchor(id='event')
    h2 Social visibility

    .contentBox.borderLeft
      .single
        p Inviting people to an outing is sometimes a very delicate task that require a high level of social intelligence. Depending on the context, one may want to let the invitation open for further people while consciously excluding a certain category of acquaintances. For example, by launching an invitation to the next Star Trek fan convention, you may want to enable fellow fans to extand the invitation to their own friends. However you may not want to go public in the office. We tried to tackle this aspect by creating different social visibilty settings.

    .contentBox.borderLeft.dashed
      .full
        img(src= '/img/'+ post.id +'/visibility.svg').scale-resize-100


  .rubric.spacePadTop-2

    a.anchor(id='scenario')
    h2 Use scenario



    .contentBoxHoriz4
      h4.borderLeft 1Setting up an event
      p.borderLeft In very few steps, the user is able to pick a concert, set the deadline of the outing and some invite friends.

      .flexslider
        - var cardboard = ['setup-1.jpg','setup-2.jpg','setup-3.jpg','setup-4.jpg',];
     
        ul.slides
           each val in cardboard.length ? cardboard : ['No picture available']
              li
                 img(src='/img/'+ post.id +'/'+ val)
  
    .contentBoxHoriz4
      h4.borderLeft 2Setting up an event
      p.borderLeft In very few steps, the user is able to pick a concert, set the deadline of the outing and some invite friends.

      .flexslider
        - var cardboard = ['setup-1.jpg','setup-2.jpg','setup-3.jpg','setup-4.jpg',];
     
        ul.slides
           each val in cardboard.length ? cardboard : ['No picture available']
              li
                 img(src='/img/'+ post.id +'/'+ val)

    .contentBoxHoriz4
      h4.borderLeft 3Setting up an event
      p.borderLeft In very few steps, the user is able to pick a concert, set the deadline of the outing and some invite friends.

      .flexslider
        - var cardboard = ['setup-1.jpg','setup-2.jpg','setup-3.jpg','setup-4.jpg',];
     
        ul.slides
           each val in cardboard.length ? cardboard : ['No picture available']
              li
                 img(src='/img/'+ post.id +'/'+ val)

    .contentBoxHoriz4
      h4.borderLeft 4Setting up an event
      p.borderLeft In very few steps, the user is able to pick a concert, set the deadline of the outing and some invite friends.

      .flexslider
        - var cardboard = ['setup-1.jpg','setup-2.jpg','setup-3.jpg','setup-4.jpg',];
     
        ul.slides
           each val in cardboard.length ? cardboard : ['No picture available']
              li
                 img(src='/img/'+ post.id +'/'+ val)
  
  

       