---
title: 'More Content'
author: 'Jeff'
 
subtitle: 'bla'
year: '2011'

process: ' Theoretical analysis, Market analysis, Use cases, Information architecture, Wireframes, iPad screen design'


_content: false
---

extends ../views/_single

block presentation
    
   h1#concept Concept in details

   - var values = ['caramel.jpeg','cheesecake.jpeg','donuts.jpeg','lemon.jpeg'];
   
   .flexslider
   
      ul.slides
         each val in values.length ? values : ['No picture available']
            li
               img(src="/img/slider/"+val)

block details

   h1#concept Concept in details 

   p <strong>Each language version of a Wikipedia article is a map on its own</strong><br/>As articles are  rarely able to cover a topic without refering to further articles, vast amounts of geographical networks (or maps) arise on wikipedia when articles are augmented with GPS coordinates.

   
