---
title: 'Geolinguistic Contrasts in Wikipedia'
subtitle: 'Making knowledge diversity visible across Wikipedia’s language versions'
//- coauthor: 'Jeff'
//- moreinfo: 'B.A. Thesis'
year: '2014'

process: ''

supervisionFH: 'Sebastian Meier'

bgImg: 'bgImg-geolinguistic'

_content: false
---

extends ../views/_single

block presentation
 
  img(src="/img/street.jpg",class='xyz')

block details
   :markdown
    viele details
