---
title: 'More Content'
author: 'Jeff'

subtitle: 'bla'
year: '2011'

process: ' Theoretical analysis, Market analysis, Use cases, Information architecture, Wireframes, iPad screen design'

supervisionFH: 'Prof. Dr. Frank Heidmann and Prof. Matthias Krohn'


_content: false
---

extends ../views/_single

block presentation
  p
   
  
  img(src="/img/street.jpg")

   

  :markdown
    da kommt noch was

block details
   :markdown
    viele details
