---
title: 'Urban Weave'
subtitle: 'A collective and interactive installation reshaping of an empty urban space'
coauthor: ' Roland Heuger'
year: '2011'
id: 'urbanweave'

process: ''

supervisionFH: 'Prof. Reto Wettach and Prof. Markus Löffler'

press: [
	['The Creators Project','http://thecreatorsproject.vice.com/blog/iurban-weavei-could-transform-europes-coolest-city']
]


_content: false
---

extends ../views/_single

block presentation
 
  img(src="/img/street.jpg",class='xyz')

block details
   :markdown
    viele details
